@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  background-color: #deeaee;
}

img {
  width: 100px;
  height: 100px;
}

.Heading1 {
  border-bottom-style: solid;
  border-bottom-color: cornflowerblue;
  text-align: left;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}



.Heading2 {
  border-bottom-style: solid;
  border-bottom-color: cornflowerblue;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.Heading3 {
  text-align: right;
  border-bottom-style: solid;
  border-bottom-color: cornflowerblue;
  margin-bottom: 3rem;
}


.sidenavbar {
  background-color: skyblue;
  height: 725px;
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 0;
}

thead {
  background-color: cornflowerblue;
  color:white;
}

tbody {
  background-color: white;
}

/* table {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
} */


.nav-item {
  list-style: none;
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link {
  color: black;
}

.Sidetext {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
  background-color: cornflowerblue;
}

.nav-item:hover {
  background-color: #5AAAD7;
}

.nav-item:hover span {
  color: white;
}

span {
  font-size: 0.9rem;
}

.Page {
  background-color: #deeaee;
  overflow-x: hidden;
}


.Wrapper {
  background: #deeaee;
  padding: 2rem;
  border-radius: 5px;
}

.ObeForm {
  width: 100%;
  margin-bottom: 1rem;
}

.form-input {
  outline: none;
  border: 1px solid;
  padding: 0.5rem 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  display: block;
}

.form-input::placeholder {
  color: #4c49494d;
}


.form-btn {
  background: cornflowerblue;
  color: #fff;
  cursor: pointer;
}

.Mission,.Vision,.Peo,.Plo,.Ilo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5AAAD7;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 